<p id="notice"><%= notice %></p>

<p>
  <strong>Num cliente:</strong>
  <%= @cliente.num_cliente %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @cliente.nombres %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @cliente.apellidos %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @cliente.telefono %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @cliente.direccion %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cliente.email %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
