<%= form_for(@pedido) do |f| %>
  <% if @pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pedido.errors.count, "error") %> evitaron que este registro se guardara:</h2>

      <ul>
      <% @pedido.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Numero de pedido" %><br>
    <%= f.text_field :num_pedido %>
  </div>
  <div class="field">
    <%= f.label "Descripcion" %><br>
    <%= f.text_area :descripcion %>
  </div>
  <div class="field">
    <%= f.label :cliente_id %><br>
    <%= f.collection_select :cliente_id, @clientes, :id, :num_cliente %>
  </div>
  <div class="actions">
    <%= f.submit "Crear pedido" %>
  </div>
<% end %>
