<%- model_class = Pedido -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <h4>Listado general de los pedidos</h4>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th># Pedido</th>
      <th><%= model_class.human_attribute_name(:descripcion) %></th>
      <th>RFC Cliente</th>
      <th></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <td><%= link_to pedido.num_pedido, pedido_path(pedido) %></td>
        <td><%= pedido.descripcion %></td>
        <td><%= link_to pedido.cliente.num_cliente, cliente_path(pedido.cliente) %></td>
        <td></td>
        <td><%= pedido.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_pedido_path(pedido), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      pedido_path(pedido),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_pedido_path,
            :class => 'btn btn-primary' %>
