<% if @tipo_estado.errors.full_messages.any? %>
  <div id="error_explanation">
  <h2><%= pluralize(@tipo_estado.errors.count, "error") %> evitaron que el registro se guardara:</h2>
  <ul>
  <% @tipo_estado.errors.full_messages.each do |msg| %>
    <li> <%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>
<%= form_for @tipo_estado, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :nombre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :descripcion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :descripcion, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                tipo_estados_path, :class => 'btn' %>
  </div>
<% end %>
