<%= form_for @estado, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :pedido_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :pedido_id, @pedidos, :id, :num_pedido, {:include_blank => "Selecciona un pedido"} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tipo_estado_id , :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :tipo_estado_id, @tipo_estados, :id, :nombre,  {:include_blank => "Seleccione un estado inicial"} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nota, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :nota, :class => 'text_field' %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
    pedidos_path, :class => 'btn' %>
  </div>
<% end %>
