<%- model_class = Estado -%>
<div class="page-header">
  <h1>Estado de pedido</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nota) %>:</strong></dt>
  <dd><%= @estado.nota %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tipo_estado_id) %>:</strong></dt>
  <dd><%= @estado.tipo_estado.nombre %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pedido_id) %>:</strong></dt>
  <dd><%= link_to @estado.pedido.id, pedido_path(@estado.pedido.id) %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              estados_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_estado_path(@estado), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              estado_path(@estado),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
